<div class="col-md-10 right-area">
    <div class="news">

    </div>
</div>
<div class="col-md-2 left-area">
    <div class="sites-rating">
        
    </div>
    <div class="users-rating">
        
    </div>
    <div class="tags-cloud">
        
    </div>
</div>