// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-area, .right-area, .users-list {
    margin-top: 15px;
}

.left-area {
    height: 500px;

    .news {
        height: 500px;
        background-color: white;
    }
}

.right-area {
    padding: 0px;
    position: fixed;
    right: 0;


    .users-rating, .tags-cloud {
        margin-top: 15px;
    }

    .sites-rating, .users-rating, .tags-cloud {
        margin-right: 15px;
    }

    .sites-rating {
        border: 1px solid red;
        height: 100px;
    }

    .users-rating {
        height: 100px;
        border: 1px solid green;
    }

    .tags-cloud {
        background-color: green;
        height: 100px;
    }

    .list {
        list-style: none;
        padding: 5px; 
    }
}

.users-list {
    margin-left: 340px;
    .user-papper {
        background-color: white;
        margin-top: 15px;
        .info {
            margin-left: 10px;
            padding: 10px;
        }
    }
}