// Place all the styles related to the Single controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-area, 
.right-area, 
.users-list, 
#profile-main {
    margin-top: 15px;
}

.left-area, 
.right-area, {
    table {
            margin: 5px;
        }
    th {
        width: 130px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        padding: 5px;
    }
}

.description {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.left-area {
    height: 500px;

    .news {
        height: 500px;

        .news-papper {
            background-color: white;
            padding: 25px;
            margin-bottom: 20px;

            .description {
                width: 500px;
            }
        }
    }
}

.right-area {
    padding: 0px;
    right: 0;

    .users-rating, .tags-cloud {
        margin-top: 15px;
    }

    .sites-rating, .users-rating, .tags-cloud {
        margin-right: 15px;
    }

    .users-rating,
    .sites-rating {
        a {
            margin: 10px;
        }
    }

    .sites-rating,
    .tags-cloud,
    .users-rating
     {
        background-color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 250px;
        padding: 10px;
    }

    .list {
        list-style: none;
        padding: 5px; 
    }
}

.users-list {
    margin-left: 340px;
    .user-papper {
        background-color: white;
        margin-top: 15px;
        .info {
            margin-left: 10px;
            padding: 10px;
        }
    }
}

#profile-main {
    .user-info {
        padding: 0;
        height: auto;
        margin-left: 15px;
        background-color: white;
        padding: 50px;
    }

    .sites {
        padding: 0;
        height: 550px;
        margin-right: 15px;
        margin-left: 80px;
        overflow-y: auto;

        .site {
            background-color: white;
            padding: 10px;
            margin-bottom: 15px;

            .description {
                width: 100px;
            }
        }
    }
}