/*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
*/

.container {
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    padding: 30px;
}